<app-navbar></app-navbar>
<div class="main-view">
        <div class="container py-5">
                <header class="text-center">
                    <h1 class="display-4 font-weight-bold">Settings</h1>
                    <p class="font-italic text-muted mb-0">Tweak and customize dashboard</p>
                </header>
        </div>

        
 <ul class="list-unstyled text-center">
        <div class="social-link-bottom">
            <p class="div-left">Toggle Dark Mode</p>
            <p class="custom-control custom-switch custom-switch-lg div-right">
                <input class="custom-control-input" id="customSwitch7" type="checkbox" name="theme"/>
                <label class="custom-control-label font-italic" for="customSwitch7"></label>
            </p>

        </div>

        <div class="social-link-bottom">
                <p class="div-left">Some Settings</p>
                <p class="custom-control custom-switch custom-switch-lg m-0 div-right">
                    <input class="custom-control-input" id="customSwitch8" type="checkbox">
                    <label class="custom-control-label font-italic" for="customSwitch8"></label>
                </p>
    
        </div>
</ul>
                
        


</div>

        