<app-navbar></app-navbar>

<div class="body main-view">
    <div class="container">
        <div class="row">
          <div class="col-lg-10 col-xl-9 mx-auto">
            <div class="card card-signin flex-row my-5">
              <div class="card-img-left d-none d-md-flex">
                 <!-- Background image for card set in CSS! -->
              </div>
              <div class="card-body">
                <p class="text-center" style="font-size: 7.5vh;">🔥</p>
                <h3 class="display-4 text-center" style="font-weight: bolder;">AAGNEYA</h3>
                <p class="font-italic text-muted mb-0 text-center">Some quote abt this site</p>
                <br>
                    <!-- Show user data when logged in -->
                    <div *ngIf="authService.userData as user" class="text-center">

                          
                        <div><h2 class="font-weight-bold mb-2 text-center font-italic" *ngIf="authService.userData as user">"Welcome Back {{(user.displayName) ? user.displayName : 'User'}}"</h2><br></div>
                        <p>Email: <code><strong>{{user.email}}</strong></code></p>
                        <p>Email Verified: <code><strong>{{user.emailVerified}}</strong></code></p>
                        <a routerLink="/view-events" style="text-decoration: none;"><button class="btn btn-primary btn-block text-uppercase mb-2 rounded-pill shadow-sm" >View Events</button></a>
                    </div>
                    <div *ngIf="!authService.userData as user" class="text-center">
                      <h1><code><strong>Sign In to View Aagneya Dashboard</strong></code></h1>
                      <br><br>
                      <a routerLink="/sign-in" style="text-decoration: none;"> <button class="btn btn-primary btn-block text-uppercase mb-2 rounded-pill shadow-sm" >Sign in</button></a>
                    </div>
    
    
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>