<div class="body">
    <div class="container">
        <div class="row">
          <div class="col-lg-10 col-xl-9 mx-auto">
            <div class="card card-signin flex-row my-5">
              <div class="card-img-left d-none d-md-flex">
                 <!-- Background image for card set in CSS! -->
              </div>
              <div class="card-body">
                
                <p class="text-center" style="font-size: 7.5vh;">🔥</p>
                <h3 class="display-4 text-center" style="font-weight: bolder;">AAGNEYA</h3>
                <p class="font-italic text-muted mb-0 text-center">Some quote abt this site</p>
                <br>
                <a routerLink="/sign-in" style="text-decoration: none;"> <button class="btn btn-primary btn-block text-uppercase mb-2 rounded-pill shadow-sm" >Sign in</button></a>
                <a routerLink="/sign-up" style="text-decoration: none;"><button class="btn btn-primary btn-block text-uppercase mb-2 rounded-pill shadow-sm" >Sign Up</button></a>


    
    
    
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>