/* You can add global styles to this file, and also import other style files */
html {
    --bg: #F5F6F9;
    --bg-panel: #ffffff;
    --color-headings: #0077FF;
    --color-text: #333333;
}

html[data-theme='dark'] {
    --bg: #1f1f1f;
    --bg-panel: #2a2a2a;
    --color-headings: #3694FF;
    --color-text: #B5B5B5;
}


.main-view{
    margin-left:5%;
    padding:1px 16px;
    height:100vh;
    background-color: var(--bg);

}

body{
    background-color: var(--bg);
    color: var(--color-text);
}


html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 750ms !important;
  transition-delay: 0 !important;
}
